---
layout: default
title: Home
---

<div class="posts">
  <h1>Posts</h1>

  {% for post in site.posts limit:5 %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h3>
    <span class="post-date">{{ post.date | date_to_string }}</span>
  </div>
  {% endfor %}
</div>

<div class="notes">
  <h1>Notes</h1>

  {% for page in site.pages %}
    {% if page.path contains 'notes/' %}
    <div class="subpage">
      <h3 class="post-title">
        <a href="{{ page.url | absolute_url }}">
          {{ page.title }}
        </a>
      </h3>
      <span class="post-date">{{ page.source }}</span>
    </div>
    {% endif %}
  {% endfor %}

</div>
