---
layout: default
title: Home
---

<div class="posts">
  <h2>Posts</h2>

  {% for post in site.posts limit:5 %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h3>
    <span class="post-date">
      {{ post.date | date_to_string }}
      {% if post.tags.size > 0 %}
      &nbsp &nbsp &nbsp {
        <i>{{ post.tags | sort | join: " / " }}</i>
      }
      {% endif %}
    </span>
  </div>
  {% endfor %}
</div>

<div class="notes">
  <h2>Notes</h2>

  {% for page in site.pages %}
    {% if page.path contains 'notes/' %}
    <div class="subpage">
      <h3 class="post-title">
        <a href="{{ page.url | absolute_url }}">
          {{ page.title }}
        </a>
      </h3>
      <span class="post-date">
        {{ page.source }}
        {% if page.tags.size > 0 %}
        &nbsp &nbsp &nbsp {
          <i>{{ page.tags | sort | join: " / " }}</i>
        }
        {% endif %}
      </span>
    </div>
    {% endif %}
  {% endfor %}

</div>
